* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #050505;
    color: white;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #000;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 90px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #00ff66;
}


/* HERO */

.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 55px;
    color: #00ff66;
}

.hero p {
    margin-top: 15px;
    font-size: 24px;
}


/* SECTIONS */

section {
    padding: 80px 8%;
}

h2 {
    text-align: center;
    color: #00ff66;
    font-size: 38px;
    margin-bottom: 50px;
}


/* ABOUT */

.about p {
    max-width: 850px;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
}


/* TEAM */

.team-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.member {
    display: flex;
    align-items: center;
    gap: 30px;
    background: #0b0b0b;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #00ff66;
}


.member:nth-child(even) {
    flex-direction: row-reverse;
}


.member img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #00ff66;
}


.info {
    flex: 1;
}


.info h3 {
    font-size: 32px;
    color: #00ff66;
    margin-bottom: 10px;
}


.info h4 {
    font-size: 18px;
    margin-bottom: 15px;
}


.info p {
    line-height: 1.7;
    color: #dddddd;
    font-size: 16px;
}


/* CONTACT */

.contact {
    text-align: center;
}


/* FOOTER */

footer {
    background: #000;
    padding: 25px;
    text-align: center;
    color: #888;
}


/* MOBILE */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
    }


    nav a {
        margin: 0 10px;
    }


    .hero h1 {
        font-size: 35px;
    }


    .hero p {
        font-size: 18px;
    }


    .member,
    .member:nth-child(even) {
        flex-direction: column;
        text-align: center;
    }


    .member img {
        width: 200px;
        height: 200px;
    }


    .info h3 {
        font-size: 27px;
    }

}
